<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= __('Post your ads') %></h2>

    <div class="advert-grid">
      <% adverts.forEach(advert => { %>

      <div class="advert-card">
        <img src="<%= advert.image ? advert.image : "/images/emptyad1.png" %>"
        alt="<% advert.name %>" />
        <div class="advert-card-info">
          <h5>
            <%= __('Type') %>: <%= advert.sale ? __('Sale') : __('Purchase') %>
          </h5>
          <h3><%= __('Name') %>: <%= advert.name %></h3>
          <h3><%= __('Price: {{ price }} coin',advert) %></h3>
          <h3><%= __n('Tags', advert.tags.length) %></h3>
          <ul>
            <% advert.tags.map(tag => { %>
            <li><%= tag %></li>
            <% }) %>
          </ul>
        </div>
      </div>
      <% }) %>
    </div>
    <footer>
      <ul>
        <% getLocales().forEach( locale => { %>
        <li>
          <a href="/?lang=<%= locale %>"
            ><%= __({phrase: 'locale_name', locale: locale}) %></a
          >
        </li>
        <% }) %>
      </ul>
    </footer>
  </body>
</html>
